/* MEDIA QUERIES */
@media (max-width: 1200px) {
    header .middle {
        display: none;
    }
    header .rightside li {
        display: none;
    }
    header .rightside li.menu {
        display: block;
        margin-right: 20px;
    }
}
@media (max-width: 600px) {    
    footer .buttons--area {
        flex-direction: column;
        align-items: center;
        
    }
    .btn{
        margin: 5px 5px;
    }
    footer  .buttons--area a{
         width: calc(100vw - 60px);
    }


}